/* helper for div placement... disable before use */
.form {
    width: 35%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2% 2% 2% 2%;
    border: 1px solid lightgray;
}
mat-select {
    width: 60%;
    border-bottom: 1px solid lightgray;
    
}

.header {
    color: #177255;
    font-size: 2em;
    text-align: center;
    padding: 0% 0% 2% 0%;
}
mat-form-field {
    width: 60%;
} 
button {
    margin-top: 2%;
    background-color: #6540FF;
    color: white;
}