<!-- <div class="grid">

    <div class="grid-5">
        Add New Person
    </div> -->
    <!-- <div class="grid-10">
        <div class="grid">
            <div class="grid-2"> First Name</div>
            <div class="grid-2"> Middle Name</div>
            <div class="grid-2"> Last Name</div>
            <div class="grid-2"> Gender Name</div>
            <div class="grid-2"> Address Name</div>
            <div class="grid-2"> Phone</div>
            <div class="grid-2"> Notes</div>
            <div class="grid-2"> <input placeholder="First Name" [(ngModel)]="newPerson.firstName" /></div>
            <div class="grid-2"> Middle Name</div>
            <div class="grid-2"> Last Name</div>
            <div class="grid-2"> Gender Name</div>
            <div class="grid-2"> Address Name</div>
            <div class="grid-2"> Phone</div>
            <div class="grid-2"> Notes</div>

            <div class="grid-14"> other stuff second row</div>
        </div>
    </div> -->
<!-- </div> -->
<!-- <div class="form">
    <div>Add Person</div>
    <div>First Name:</div>
    <div><input placeholder="First Name" [(ngModel)]="newPerson.firstName" /></div>
    <div>Middle Name:</div>
    <div>
        <input placeholder="First Name" [(ngModel)]="newPerson.middleName" />
    </div>
    <div>Last Name:</div>
    <div>
        <input placeholder="First Name" [(ngModel)]="newPerson.lastName" />
    </div>
    <div>Gender:</div>
    <div>
        <input placeholder="First Name" [(ngModel)]="newPerson.gender" />
    </div>
    <div>Address:</div>
    <div>
        <input placeholder="First Name" [(ngModel)]="newPerson.address" />
    </div>
    <div>Phone:</div>
    <div>
        <input placeholder="First Name" [(ngModel)]="newPerson.phone" />
    </div>
    <div>Notes:</div>
    <div>
        <input placeholder="First Name" [(ngModel)]="newPerson.notes" />
    </div>
    <button (click)="addPerson()" [disabled]="!invalidInputs()">add</button>
</div> -->

<div class="form">
    <div class="header">Set Privilege Level</div>
    <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="updatePrivilege.username" />
    </mat-form-field>
    <div>
        <mat-select placeholder="level" [(ngModel)]="updatePrivilege.level">
            <mat-option *ngFor="let level of Levels" [value]="level">
                {{level}}
            </mat-option>
        </mat-select>
    </div>
     <div>
        <button
            mat-button
            [disabled]="!updatePrivilege.username || !updatePrivilege.level"
            (click)="setPrivilegeLevel()"> 
            update
        </button>

     </div>

</div>