<div class="form">
    <div class="header">Select a search option.</div>
    <mat-radio-group [(ngModel)]="selectedquery">
        <mat-radio-button   
            (click)="results = null"    
            class ="flex"
            *ngFor="let query of queries; let i = index"
            [value]="i+1">
            {{query}} 
        </mat-radio-button>
</mat-radio-group>
</div>
<div class="form">
    <button mat-button (click)="onSubmit()" [disabled]="selectedquery === undefined || userInput === undefined">submit</button>
    <mat-form-field class="wide-input">
        <input matInput placeholder="search" class="wide-input" [(ngModel)]="userInput" />
    </mat-form-field>
</div>
<div class="form" *ngIf="results">
    <div *ngIf="selectedquery !== 10">
        <div class="results" *ngFor="let person of results">
            <div>First name: {{person.first_name}}</div>
            <div>Middle name: {{person.middle_name || 'N/A'}}</div>
            <div>Last name: {{person.last_name}}</div>
            {{selectedquery}}
        </div>
    </div>
    <div *ngIf="selectedquery == 10" >
        <div *ngFor="let date of results" class="results">
            <div>event: {{date.type}}</div>
            <div>place: {{date.location}}</div>
        </div>

    </div>
</div>

<div class="form" *ngIf="priv == 'write' || priv =='admin'">
    <div class="header">Add Person</div>
    <div>
        <mat-form-field>
            <input matInput placeholder="First Name" [(ngModel)]="newPerson.firstName" />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput placeholder="Middle Name" [(ngModel)]="newPerson.middleName" />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput placeholder="Last Name" [(ngModel)]="newPerson.lastName" />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput placeholder="Gender" [(ngModel)]="newPerson.gender" />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput placeholder="Address" [(ngModel)]="newPerson.address" />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput placeholder="Phone" [(ngModel)]="newPerson.phone" />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput placeholder="Notes" [(ngModel)]="newPerson.notes" />
        </mat-form-field>
    </div>
    <button mat-button (click)="addPerson()" [disabled]="!invalidInputs()">add</button>
</div>
<div class="form" *ngIf="priv == 'write' || priv =='admin'">
    <div class="header">Delete Person</div>
    <div>
        <mat-form-field>
            <input matInput placeholder="First Name" [(ngModel)]="deletePerson.firstName" />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput placeholder="Middle Name" [(ngModel)]="deletePerson.middleName" />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput placeholder="Last Name" [(ngModel)]="deletePerson.lastName" />
        </mat-form-field>
    </div>
    <button mat-button (click)="dPerson()" [disabled]="!deletePerson.firstName || !deletePerson.middleName || !deletePerson.lastName">add</button>
</div>