<div class="queries">
    <div class="header">Select a search option.</div>
    <mat-radio-group [(ngModel)]="selectedquery">
        <mat-radio-button        
        class ="flex"
        *ngFor="let query of queries; let i = index"
        [value]="i+1">
        {{query}} 
    </mat-radio-button>
</mat-radio-group>
</div>
<div class="query-input">
    <button mat-button (click)="onSubmit()" [disabled]="selectedquery === undefined || userInput === undefined">submit</button>
    <mat-form-field class="wide-input">
        <input matInput placeholder="search" class="wide-input" [(ngModel)]="userInput" />
    </mat-form-field>
</div>
<div class="container" *ngIf="results">
    <div class="results" *ngFor="let person of results">
        <div>First name: {{person.first_name}}</div>
        <div>Middle name: {{person.middle_name || 'N/A'}}</div>
        <div>Last name: {{person.last_name}}</div>
    </div>
</div>